$header-height: 64px;


$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;


//colors
$body-background-color: darkgrey;

$primary-color: rgb(255, 128, 128);

$secondary-color: wheat;

$accent-color: aquamarine;


