// sizes
$header-height: 64px;

//colors
$body-background-color: #a9a9a9;

$primary-color: #8080ff; 
$primary-color-alt: #ff8080;
$secondary-color:#b3def5;
$secondary-color-alt:#f5deb3;
$accent-color: #7fffd4;

$text-stroke-color:#FFFFFF;

//fonts
$primary-font-family: Open Sans, Arial, sans-serif;

//animation
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;