
.load-more {
    display: block;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    border-radius: 5px;
    color: #555;
}

.load-more:hover {
    background-color: aquamarine;
}

.gallery {
    padding-top: 80px;
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 20px;
}

.gallery__item:last-of-type{
    padding-bottom: 20px;
}